* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 120px;
  background-color: red;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-color: orange;
}

.main-visual-content {
  width: 350px;
  height: 300px;
  background-color: gold;
}

.footer {
  width: 100%;
  height: 120px;
  background-color:blue;
}

.header-top {
  width: 100%;
  height: 70px;
  background-color: pink;
}

.header-bottom {
  width: 100%;
  height: 50px;
  background-color: black;
}