* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
  padding: 15px 0px;
  margin: 0 auto;
  text-align: center;
}


.heading {
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
list-style: none;
display: inline-block;
margin: 0px 20px;
}

.main-visual {
  width: 100%;
  height: 300px;
  font-size: 16px;
  background-image: url(assets/mv.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  text-align: center;
  background-color: rgba( 0, 0, 0, 0.5);
  padding-top: 105px;
}

.main-visual-text {
  color: aliceblue;
}

.main-visual-name {
  margin-top: 30px;
  color: aliceblue;
}

.main {
  width: 840px;
  display: flex;
  justify-content: center;
/*justify-content:横軸で整列方法指定*/
  margin: 0 auto;
}

.blog {
  width: 600px;
  height: 1400px;
  background-color: limegreen;
}

.sidebar {
  width: 240px;
  height: 1400px;
  background-color: palegreen;
}

.footer p {
  width: 100%;
  height: 120px;
  background-color: #848282;;
  text-align: center;
  line-height: 120px;
}

.footer-text {
  color: white;
}